[data-amplify-container] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 3rem auto 10rem;
}

[data-amplify-authenticator-forgotpassword] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 35rem;
}

fieldset {
  flex: 1;
  padding: 2rem;
}

[data-amplify-router] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 35rem;
}

[data-amplify-footer] {
  display: flex;
  justify-content: center;
}

.amplify-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.amplify-tabs__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.amplify-tabs__item {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}

.amplify-tabs__item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.amplify-tabs__item--active {
  border-top: 3px solid white;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.amplify-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.amplify-field-group__field-wrapper {
  flex: 1;
}

.amplify-field-group__field-wrapper--horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.amplify-field-group--horizontal {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.amplify-visually-hidden {
  display: none;
}

.amplify-label {
  font-weight: bold;
}

.amplify-textfield {
  gap: 0.5rem;
}

.amplify-input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.amplify-input:focus {
  outline: none;
  border-color: #007bff;
}

.amplify-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.amplify-field-group__outer-end button {
  border-radius: 0;
  border: 1px solid #ccc;
}

.amplify-field__show-password {
  cursor: pointer;
  padding: 0;
  height: 100%;
  width: 3rem;
}

.amplify-alert {
  flex-direction: row;
}

.amplify-alert__dismiss {
  cursor: pointer;
  padding: 0rem;
  background: transparent;
}

.amplify-button--link {
  background: transparent;
}
